
   @keyframes anima {
     from
     {
       transform: translate3d(0,20,0);
     }
     to
     {
       transform: translate3d(0,0,0);
     }
   }
     @keyframes animate{
        from{
         width: 100%;
         height: 0%;
      }
     to{
       
        width: 100%;
       height: 100%;
     }
   }

@keyframes opacity {
  from{
    opacity: 0;
  }
  25%,75%{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}
@keyframes animation--gallery {
  from{
    transform: translate3d(60px,0,0);
    opacity: 0;
  }
  to{
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes animation--card
{
  from{
    transform:translate3d(0,100px,0);
    opacity: 0;
  }
  to{
    transform:translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes ThankYou {
  from{
    color: whitesmoke;
    filter: blur(5px);
    text-shadow: 0 0 20px lightseagreen,
                  0 0 40px lightseagreen,
                  0 0 80px lightseagreen,
                  0 0 120px lightseagreen,
                  0 0 200px lightseagreen,
                  0 0 400px lightseagreen;
  }
  to{
    color: transparent;
    filter: blur(0);
    text-shadow: none;
  }
}
@keyframes w {
  from{
    transform: translate(-50%,-50%);
    opacity: 1;
    filter: hue-rotate(0deg);
  }
  to{
    transform: translate(-50%,-1000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}